body{
	background: #d2d2c1 url('https://img.freepik.com/vetores-gratis/linhas-de-grade-horizontais-abstratas-em-design-grafico-de-estilo-grafico_1017-39918.jpg');
	font:16px, Arial, sans-serif;
}

#principal{
	border: 1px red solid;
	width:900px;
}

#menu{
	background: #c5c5b2;
	padding:15px;
}

a{
	color:#4b566a;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid red;
}

#conteudo{
	background: #e8e8d9;
	padding: 20px;
}

.centralizar{
	text-align: center;
}

h1{
	color: #828271;
	font-size: 1.2em;
}

#rodape{
	text-align: center;
}

.img-campanha{
	border: 10px, solid #c3c3ae;
}